<div class="sample sample01">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="images/img/img01.png"></div>
      <div class="swiper-slide"><img src="images/img/img02.png"></div>
      <div class="swiper-slide"><img src="images/img/img03.png"></div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>