  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @articles.each do |article| %>
        <div class="swiper-slide">
          <%= link_to article_path(article) do %>
          <p><%= article.title %></p>
          <p><%= article.body %></p>
          <p><%= article.level %></p>
          <% end %>
        </div>
      <% end %>s
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
